# Getting started with Python

In [1]:
print("hello")

hello

In [2]:
1+1

2

# Datatypes

## 1. Integers

In [3]:
1

1

In [4]:
# Floating point Number 
1.0

1.0

In [5]:
# Arithmetic Functions
print ("Addition ", 1+1)
print ("Substraction ", 2-1)
print ("Multiplication ", 2*3)
print ("Division ", 4/2)
print ("Power ", 2**4)
print ("Mod ", 10%4)

Addition  2
Substraction  1
Multiplication  6
Division  2.0
Power  16
Mod  2

In [6]:
# complex stuff -- default considers operator precedence
2 + 7 * 5 + 5

42

In [7]:
(2+7) * (5+5)

90

In [8]:
a =1
b =2 
print(a+b)

3

In [9]:
type(a)

int

## 2. Strings

In [10]:
"Hello"

'Hello'

In [11]:
type("hello")

str

In [12]:
x = 'hello'

In [13]:
print(x)

hello

In [14]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Variable Assignment

In [15]:
x=2

In [16]:
x

2

In [17]:
x=2
y=3
print (x+y)

5

In [18]:
# variable names always start with characters, it cannot start with number or special characters
x = 1
num_to_save = 10
token = 'Data Science'

## Print formatting

In [19]:
age = 25
name = 'Austin'

print( "My name is {} and my age is {}".format(name,age) )

My name is Austin and my age is 25

In [20]:
print("My name is {token1} and my age is {token2}. {token1}]".format(token1=name,token2=age) )

My name is Austin and my age is 25. Austin]

## Access elements by index

In [21]:
s = 'DataScience'
print(s[0])
print(s[1])
print(s[4])

D
a
S

In [22]:
print(s[0:4])

Data

In [23]:
print(s[-1])

e

In [24]:
print(s[-2])

c

In [25]:
print(s[3:])

aScience

In [26]:
print(s[:4])

Data

## Lists

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
['token1','token2','token3']

['token1', 'token2', 'token3']

In [29]:
char_list = ['a','b','c','d']
print(char_list)

['a', 'b', 'c', 'd']

In [30]:
[1,2,'three']

[1, 2, 'three']

In [31]:
char_list.append('e')
print(char_list)

['a', 'b', 'c', 'd', 'e']

In [32]:
print(len(char_list))

5

In [33]:
char_list[0]

'a'

In [34]:
char_list[:3]

['a', 'b', 'c']

In [35]:
char_list[0] = 'A'
print(char_list)

['A', 'b', 'c', 'd', 'e']

## Dictionaries

In [36]:
d = {'Name':'Austin','Age':25,'Salary':45000}
my_dict = {} 
my_dict['A'] = 'Ashok'
print (my_dict)
type(my_dict)

{'A': 'Ashok'}

dict

In [37]:
my_dict['A'] = 'Ashok1'
my_dict['B'] = 'Ashok2'
print (my_dict)

{'A': 'Ashok1', 'B': 'Ashok2'}

In [39]:
#d.

In [40]:
print(d['Name'])

Austin

In [41]:
print(d.keys())
print(d.values())

dict_keys(['Name', 'Age', 'Salary'])
dict_values(['Austin', 25, 45000])

In [42]:
print(len(d))

3

In [43]:
d['Name'] = "Texas"
print(d)

{'Name': 'Texas', 'Age': 25, 'Salary': 45000}

## Boolean

In [44]:
True

True

In [45]:
False

False

In [46]:
1==1

True

In [47]:
'DS' != 'DS'

False

## Tuple

In [48]:
my_tuple = (1,2,3)

In [49]:
my_tuple[0]

1

In [50]:
len(my_tuple)

3

In [51]:
# Difference between Tuple and List is Tuple doesn't allow to override the initial values
# Tuples are immutable whereas List is mutable
my_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

## Sets

In [52]:
# A set is a collection of Unique elements
{1,2,3}

{1, 2, 3}

In [53]:
# Duplicates are excluded
{'A','B','C','A'}

{'A', 'B', 'C'}

In [54]:
my_set = {1,2,3,4,5,6,6,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [55]:
print(len(my_set))

6

In [56]:
# Create set from a list 
my_list = [1,2,3,4,1,2]
print('List ', my_list)
my_set = set(my_list)
print('Set ', my_set)

List  [1, 2, 3, 4, 1, 2]
Set  {1, 2, 3, 4}

In [57]:
# Another way of using sets
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(1)
print(my_set)

{1, 2}

In [58]:
s = "abcdabcd"
my_set = set()

for char in s:
    my_set.add(char)
    
print(my_set)

my_dict ={}

for char in s:
    if char not in my_dict.keys(): 
        my_dict[char] = 1

print (my_dict.keys())

{'b', 'd', 'a', 'c'}
dict_keys(['a', 'b', 'c', 'd'])

In [59]:
a = 'ZENOVW'
''.join(sorted(a))

'ENOVWZ'

## Comparison operators

In [60]:
2 < 1

False

In [61]:
1 < 2

True

In [62]:
1 >= 2

False

In [63]:
2 >= 2

True

In [64]:
1 == 1

True

In [65]:
1 != 2

True

In [66]:
# with logic operators
(1 < 2) and (2 < 3)

True

In [67]:
(1 < 2) or (2 < 1)

True

In [68]:
(1 < 2) or (2 < 1) or (1==1)

True

## IF Loop

In [69]:
# Block of code
if 1<2:
    print("Yes")
    print("True")

print("hola")

Yes
True
hola

In [70]:
if 2>3:
    print("Yes")
else:
    print("No")

No

In [71]:
phone = 'Apple'
if phone == 'Samsung':
    print("Samsung")
elif phone == 'Nokia':
    print("Nokia")
elif phone == 'Apple':
    print('Apple')
else:
    print('Other')

Apple

In [72]:
if (2>1) and (2<3):
    print("yay")

yay

##  FOR Loop

In [73]:
top_5 = [1,2,3,4,5]

In [74]:
for num in top_5:
    print(num)

1
2
3
4
5

In [75]:
temp_list = list(range(10))
print (temp_list)

#print (range(10))
#print (range(5, 10))

# Create a list from range
my_list = list(range(10))
print("List is ", my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
List is  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
for i in (1,2,3):
    print(i)

1
2
3

## WHILE Loop

In [78]:
a = 1

In [79]:
while a < 10:
    print (a)
    a+=1 #a=a+1

1
2
3
4
5
6
7
8
9

## List comprehension

In [80]:
x = range(5)

In [81]:
square_list = []

for num in x:
    square_list.append(num**2)
    
print(square_list)

[0, 1, 4, 9, 16]

In [82]:
#space complexity O(n)
[num**2 for num in x]

[0, 1, 4, 9, 16]

In [83]:
columns = ['name','age','salary']
test_columns = [col+'_test' for col in columns]
print(test_columns)

['name_test', 'age_test', 'salary_test']

## Functions

In [84]:
def square(num):
    return num**2

In [85]:
print(square(5))

25

In [86]:
def student(name = 'X'):
    print('Hello ' + name)

In [87]:
#student('Austin')
print (student())

Hello X
None

In [88]:
student(name= 'Austin')

Hello Austin

In [89]:
student()

Hello X

In [90]:
def addNumbers(a,b):
    """
    This functions takes two values as input and returns the sum as output
    a = first integer value
    b = second integer value
    output = returns the sum of a and b
    """
    return a+b

In [91]:
x = addNumbers(2,3)

In [92]:
print(x)

5

In [93]:
addNumbers
# type shift+tab to observe the DocString

In [94]:
def addSquares(a,b):
    """
    This functions takes two values as input and returns the sum as output
    a = first integer value
    b = second integer value
    output = returns the sum of squares of a and b
    """
    a= a**2
    b = b**2
    return a+b

In [95]:
addSquares(2,4)

20

## Lambda Expressions

In [96]:
def square(num):
    return num*num

In [97]:
square(2)

4

In [98]:
lambda x: x*x

## Map

In [99]:
my_list = [1,2,3,4,5]

In [100]:
new_list = []
for i in my_list:
    new_list.append(square(i))
    
print(new_list)

[1, 4, 9, 16, 25]

In [101]:
list(map(square, my_list))

[1, 4, 9, 16, 25]

In [102]:
# For one time thing
list(map(lambda num: num*num, my_list))

[1, 4, 9, 16, 25]

In [103]:
p = lambda num: num*num
p(5)

25

## Filter

In [104]:
# Filter is used to filter out the elements

filter(lambda x: x%2 == 0, my_list)

## Methods

In [105]:
s = "hi this is Austin"

In [106]:
s.lower()

'hi this is austin'

In [107]:
s.upper()

'HI THIS IS AUSTIN'

In [108]:
s.split()

['hi', 'this', 'is', 'Austin']

In [109]:
tokens = 'ram,10,20,30'
tokens.split(',')

['ram', '10', '20', '30']

In [110]:
my_list = [1,2,3,4,5]

In [111]:
my_list.pop()

5

In [112]:
my_list

[1, 2, 3, 4]

In [113]:
# in operator
2 in my_list

True

In [114]:
# tuple unpacking
x = [(1,2),(3,4),(5,6)]

In [115]:
x[0]

(1, 2)

In [116]:
x[0][1]

2

In [119]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [120]:
for (a,b) in x:
    print('{} has value {}'.format(a,b))

1 has value 2
3 has value 4
5 has value 6

## More resources:
    # https://learnpythonthehardway.org/python3/
    # https://www.learnpython.org/