## Introduction to pandas

In [1]:
import pandas as pd
import numpy as np

## Series - A labeled index and a data point

In [2]:
# Series is similar to Numpy arrays, other than we can add index labels to the data

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]

In [4]:
# Creating a series from the python lists 
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
# Creating a series without index
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
my_series = pd.Series(data = my_data, index = labels)

In [7]:
# Select elements from the Series
my_series['a']

10

In [8]:
my_series = pd.Series(my_data,labels)

In [9]:
my_series

a    10
b    20
c    30
dtype: int64

In [10]:
# Using NumPy array to create Series

my_arr = np.array(my_data)
my_series = pd.Series(my_arr,labels)

In [11]:
my_series

a    10
b    20
c    30
dtype: int32

In [12]:
# Using dictionary to create a Series

d = {'a':'alpha', 'b':'beta', 'c':'carrot'}
my_series = pd.Series(d)

In [13]:
my_series

a     alpha
b      beta
c    carrot
dtype: object

In [14]:
my_series['a']

'alpha'

In [15]:
pd.Series(data = [1,2,3])

0    1
1    2
2    3
dtype: int64

## Accessing data from Series

In [16]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [17]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4], ['USA','Germany','Italy','Japan'] )

In [19]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [20]:
ser1['USSR']

3

In [21]:
# Adding Series
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [22]:
ser3 = pd.Series(['a','b','c'])

In [23]:
ser3

0    a
1    b
2    c
dtype: object

In [24]:
ser3[0]

'a'